.agency_page_main_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    position: fixed;
    

}
.search_agencies{
    width: 100%;
    height: 60px;
    /* background-color:yellowgreen; */
    display: flex;
    align-items: center;
    justify-content: center;
     background-color: greenyellow;
   
}

.search_box{
    width: 30%;
    height: 35px;
    margin-right: 10px;
    border-radius: 10px;
    border: none;
    padding: 5px;
    padding-left: 20px;
    
   
    
}
.agency_description{
    width: 100%;
    display: flex;

}
.agency_logo_section{
    width: 25%;
    height: auto;
    border-right: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    
}
.logo_agency_page{  
  height: auto;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}

.agency_name{
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.agency_details_section{
    width: 80%;
    background-color: white;
    height: 900px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    overflow-y: auto;
    
}

.basic_details{
   display: flex;
   width: 100%; 
   height: 420px;
}
.title_column{
  width: 25%;
  height: 900px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  padding: 50px;
  
}
.details_column{
  width: 80%;
  height: 800px;
   display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  padding: 50px;
}

.sub_section{
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
  width: 100%;
  height: auto;
}
.section_title{
  background-color: rgb(241, 240, 240);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 50px;
  padding: 20px;
  margin-top: 30px;
  width: 100%;
}
.section_content{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 25px;
  padding: 50px;
  width: 100%;
}